.popup-image {
  width: 220px;
  height: 220px;
  float: left;
}
.popup-image__copyright {
  width: 200px;
  height: 200px;
}
.popup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup-text {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #d5d5d5;
  text-indent: 40px;
  line-height: 20px;
}
.popup-text__top {
  margin-top: 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #d5d5d5;
  text-indent: 40px;
  line-height: 20px;
}
.popup-text__top a {
  color: #9595eb;
}
.popup-text span {
  font-weight: bold;
}
.popup-text__top span {
  font-weight: bold;
}
.popup-separator {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #d5d5d5;
}
.popup-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #d5d5d5;
  margin-bottom: 20px;
}
.popup-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #d5d5d5;
  margin-top: 10px;
}
.popup-subtitle a {
  color: #9595eb;
}
.popup-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.popup-list li strong,
.popup-list li span {
  font-weight: bold;
}
.popup-list li p {
  margin-top: 10px;
}
.popup-list li a {
  color: #9595eb;
}
.popup-list-top {
  margin-top: 30px;
}
.popup-signature {
  margin-top: 20px;
  margin-bottom: 20px;
}
.popup-list-nested {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
  list-style-type: circle;
}

@media screen and (max-width: 767px) {
  .popup-image {
    margin: 0 auto;
  }
  .popup-text__top {
    margin-top: 20px;
  }
}
