#root {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url(./assets/images/Skate_89.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #d5d5d5;
}
.page {
  max-width: 1920px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.lock {
  overflow: hidden;
}

.holder {
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .holder {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .holder {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*****************/
.stub-page {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: azure;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.stub-container {
  background-color: #222;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 15px;
  font-size: 2.5em;
  color: #ff4e50;
}

.message {
  font-size: 1.2em;
  line-height: 1.5;
}

.retry-button {
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #ff4e50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.retry-button:hover {
  background-color: #e04345;
}
/**************************************/
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: azure;
  z-index: 10000;
}

.not-found-title {
  font-size: 72px;
  margin: 0;
  color: #000;
}

.not-found-message {
  font-size: 24px;
  margin: 20px 0;
  color: #000;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0069d9;
}
