@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Buyan";
  src: url("./assets/fonts/Buyan-Regular.woff2") format("woff2"),
    url("./assets/fonts/Buyan-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
